:root{
    --blue: #080F26;
    --color-1-1: #0a17421e;
    --color-1-press: #081c5e34;
    --color-1-button: #050c20;
    --color-2: #1146bc;
    --color-2-hover: #1452d8;
    --color-3: #155fbf;
    --purple: #870dd9;
    --color-white: #fff;
    --color-black: #000;

    --font-main: "Plus Jakarta Sans", sans-serif;
    --font-title:"Raleway", sans-serif;

}

*{
    font-size: 62.5%;
}

